!!!5
%html
  %head
    %meta(charset='UTF-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    %title= project.name
    %style
      != css
  %body

    %header#if-top
      %strong= project.name
      %span documentation

    #if-content
      - blocks.each do |b|
        %section{id: b.id, class: "if-section if-level-#{b.level} if-type-#{b.main_type}"}

          - if b.level == 3
            %h3.if-headings
              - b.headings.each do |heading|
                = heading
                %br

          = b.html

    #if-index{style: 'display: none'}
      - blocks.each do |b|
        - b.headings.each do |h|
          %a{href: "##{b.id}", class: "if-level-#{b.level}"}= h

  %script{:src => 'http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js'}
  %script{:src => "http://cachedcommons.org/cache/prettify/1.0.0/javascripts/prettify-min.js"}
  :javascript
    prettyPrint();
  :javascript
    if (typeof $ !== 'undefined') {
      $('.if-toggle').live('click', function(e) {
        e.preventDefault();
        $(this).closest('.if-example').find('.if-code').toggleClass('hide');
      });
    }
